/* GENERALS */

body {
    background-color: var(--main-color-background);
}

body * {
    color: var(--font-main-color);
    font-family: var(--main-font);
}

/* NAV BAR */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 30%;
}

.sidebar-navigation {
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sidebar-navigation .logo {
    background-color: var(--main-color);
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
}

.sidebar-navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
}

/* LIBRARY */

.library {
    background-color: var(--main-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 10px;
}

.library .library-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library .library-button {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background-color: transparent;
    border: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library-content .fa {
    font-size: 1.25rem;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library-content .fa-plus {
    margin: 20px 10px;
}

.section-playlist {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.section-playlist .section-playlist-content {
    display: flex;
    flex-direction: column;
}

.section-playlist .section-playlist-content .text {
    padding-bottom: 14px;
    color: var(--font-secondary-color);
}

.section-playlist-content .title {
    font-weight: 700;
}

.section-playlist-content .subtitle {
    font-weight: 500;
    font-size: 0.75rem;
}

.section-playlist-content .section-playlist-button {
    display: flex;
    justify-content: center;
    background-color: var(--button-color-background);
    color: var(--button-font-color);
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    font-weight: 500;
    font-size: 0.675rem;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--border-main-color);
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
}

.languages .languages-button span {
    color: var(--font-secondary-color);
    font-weight: bold;
}

/* FOOTER */

.premium-footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 30px;
    background-image: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color));
}

.premium-footer .premium-text {
    flex-shrink: 0;
}

.premium-footer .premium-text .main-text {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--font-secondary-color);
    margin-bottom: 10px;
}

.premium-footer .premium-text .follow-up-text {
    color: var(--font-secondary-color);
    font-weight: 500;
    font-size: 0.8rem;
}

.premium-footer .premium-button button{
    background-color: var(--button-color-background);
    color: var(--button-font-color);
    border-radius: 40px;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 10px 20px;
    border: 0px;
    cursor: pointer;
}

/* MOBILE */

.hide-button {
    display: none;
    position: absolute;
    top: 1.5%;
    right: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--button-color-background);
    background-color: var(--main-color);
    border-radius: 0 50% 50% 0;
    border: 0px;
}